
section.storage {
	padding: 3rem;
	overflow: auto;
	height: 100vh;
	position: relative;
}

section.storage h1 { display: block; text-align: center; margin: 2rem; }
section.storage > h1 + p { text-align: justify; padding: 0 4rem 1rem 4rem; }
section.storage .hidden { display: none !important; }
section.storage .search {
	position: absolute; top: 0; left: 0; white-space: nowrap; padding: 0.5rem 2rem;
}
section.storage .search input { text-align: left; width: 8rem; display: inline-block;
	color: #fff;
	background: transparent;
	margin: 0;
	padding: 0.5rem;
	font-size: 0.9rem;
}
section.storage .search .icon {
	display: inline-block; padding: 0.5rem;
	font-family: material !important; font-feature-settings: "liga" 1; font-size: 1.4rem; line-height: 1rem; vertical-align: bottom; text-transform: none !important;
	border-bottom: 2px solid #aaa;
}
section.storage .search input:focus + .icon { color: var(--blue); border-bottom-color: var(--blue); }
section.storage .tabcontent > .action { text-align: right; }
section.storage .tabcontent > .action button { display: inline-block; width: unset; margin-left: 0.5rem; }
section.storage .tabcontent > .action button .icon {
	padding-right: 0.5rem;
	font-family: material !important; font-feature-settings: "liga" 1; font-size: 1.4rem; line-height: 1rem; vertical-align: -0.3rem; text-transform: none !important;
}

section.storage .tab ul { margin: 0; list-style: none; padding: 0; }
section.storage .tab li { background: #ffffff10; margin: 0; margin-bottom: 0.5rem; padding: 0; }
section.storage .tab li h2 { text-align: left; font-size: 1.1rem; font-weight: normal; padding: 1rem; }
section.storage .tab li h2 .actions { display: inline-block; margin-left: 3rem; }
section.storage .tab li h2 .actions span:hover { color: var(--blue); }
section.storage .tab li h2 .actions span { 
	font-family: material !important; font-feature-settings: "liga" 1; vertical-align: -0.4rem; text-transform: none !important;
	margin-right: 0.5rem; cursor: pointer;
}
section.storage .tab li .detail { padding: 1rem 1rem 2rem 1rem; }
section.storage .tab li .detail p { padding: 0.5rem 0; display: flex; }
section.storage .tab li .detail .many p { padding: 0; }
section.storage .tab li .detail .many p + p { margin-top: 0.5rem; }
section.storage .tab li .detail .many { flex: 1; }
section.storage .tab li .detail .title, 
section.storage .tab li .detail .value, 
section.storage .tab li .detail .text { display: inline-block; font-size: 0.8rem; vertical-align: top; }
section.storage .tab li .detail .title { width: 10rem; color: #ffffffa0; flex-shrink: 0; overflow: hidden; text-overflow: ellipsis; padding-right: 0.3rem; }
section.storage .tab li .detail .title.orange { color: var(--orange); }
section.storage .tab li .detail .value { color: var(--white); font-family: monospace; flex: 1; }
section.storage .tab li .detail a { color: var(--blue); }
section.storage .tab li .detail .text { color: var(--orange); flex: 1; }
section.storage .tab li .detail .icon { 
	font-size: 1.3rem; color: var(--white); cursor: pointer; margin-right: 1rem;
	font-family: material !important; font-feature-settings: "liga" 1; vertical-align: -0.4rem; text-transform: none !important; 
}
section.storage section .detail .icon:hover { color: var(--blue); }

code-input#sql { width: 30rem; height: 10rem; max-width: 50vw; max-height: 65vh; font-size: 0.85rem !important; line-height: 1.1rem !important; 
	border: 1px solid #ffffff30; }
code-input#sql textarea::selection { background-color: #FB813660 !important; color: #FB8136 !important; }
.queryResult p { padding: 0.5rem 0; display: flex; }
.queryResult .title, .queryResult .value, .queryResult .text { display: inline-block; font-size: 0.8rem; vertical-align: top; }
.queryResult .title { width: 10rem; color: #ffffff; flex-shrink: 0; overflow: hidden; text-overflow: ellipsis; padding-right: 0.3rem; }
.queryResult .value { color: #ffffffa0; font-family: monospace; flex: 1; }
.queryResult .text { color: var(--orange); flex: 1; }
.queryResult pre.response { max-height: 50vh; max-width: 40rem; }

#storageBrowser { width: 60vw; height: 60vh; }
#storageBrowser .addressBar { display: flex; align-items: center; }
#storageBrowser .addressBar span.icon:hover { color: var(--blue); }
#storageBrowser .addressBar span.icon {
	font-family: material !important; font-feature-settings: "liga" 1; vertical-align: -0.4rem; text-transform: none !important;
	padding: 0.2rem 0.5rem; cursor: pointer;
}
#storageBrowser .addressBar p { flex: 1; padding: 0.3rem 1rem; border-radius: 0.3rem; background-color: #ffffff10; margin-left: 1rem; }
#storageBrowser ol { list-style: none; padding: 0; margin-top: 1rem; user-select: none; }
#storageBrowser ol:focus { outline: none; }
#storageBrowser li { display: inline-block; cursor: default; padding: 0.5rem; width: 20ch; overflow: hidden; text-overflow: ellipsis; 
	border-radius: 0.3rem; margin: 0 0.2rem; border: 1px solid #fff1; white-space: nowrap; }
#storageBrowser li.selected { border-color: var(--blue); }
#storageBrowser li::before {
	display: inline-block; margin-right: 0.5rem;
	font-family: material !important; font-feature-settings: "liga" 1; vertical-align: -0.4rem; text-transform: none !important; 
}
#storageBrowser li.folder::before { content: '\e2c7'; color: var(--orange); }
#storageBrowser li.file::before { content: '\e873'; }